Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3
mysqlclient>=2.2
python-dotenv>=1.0
djangorestframework-simplejwt>=5.3
Pillow>=10.0
requests>=2.31
beautifulsoup4>=4.12
cssutils>=2.7
playwright>=1.44
